
 <div ng-controller="QuestionCtrl">
 <div id="full" ui-view="questionpanel"></div>
 <div id="nav_menu">
 	 <a ui-sref="dashboard.questions.new" > Create New Question </a>
	 <br>
	 <div  ng-repeat="question in questions">
	 	<div >
	 		
	 		<div style="margin-top:10px;">
	 		<hr>
		 		<p>{{question.content}}</p>
		 		<br>
		 		<a ui-sref="dashboard.questions.show({id: question.id })" >Show </a>
		 		<a ui-sref="dashboard.questions.edit({id: question.id})"> Edit </a>
		 		<a ng-click="deleteQuestion(question)" confirm="Are you sure?">Delete</a>
		 	<hr>
	 		</div>
		</div>

	 </div>
	 <br>
</div>
 </div>
