
 <div ng-controller="QuestionCtrl">
 <div id="full" ui-view="questionpanel"></div>
 <div  ng-repeat="question in questions" class="request">
 	<div ng-controller="QuestionController">
 		<p>{{question.content}}</p>
 		<br>
 		<a ui-sref="dashboard.questions.show({id: question.id })" >Show </a>
 		<a ui-sref="dashboard.questions.edit({id: question.id})"> Edit </a>
	</div>
 </div>


 <a ui-sref="dashboard.questions.new" > Create New Question </a>
 </div>
