<br>
<br>
<div ng-controller="QuestionCtrl">
<form class="form-group" ng-submit=" goBack()" >
<input type="text" class="form-control" placeholder="Enter a Question" ng-model="content"></input>
<br>
<input type="file" ngf-select ng-model="image" >
<br>
<input type="submit" id="submit" ng-click="createQuestion(image); "  >
</form>
</div>