<form class="form-group" ng-submit="createQuestion()" >
<input type="text" class="form-control" placeholder="Enter a Question" ng-model="content"></input>
<input type="file" class="form-control" placeholder="Choose an Example Image" ng-model="image"></input>
<input type="submit" id="submit" value="Submit" >
</form>