 <script type ="text/javascript">

        

        function switchSettings() {
          if(document.getElementById('settings').style.visibility == 'hidden') {
            document.getElementById('settings').style.visibility = "visible"
          } else {
            document.getElementById('settings').style.visibility = 'hidden'
          };
        }
      </script>


<% if logged_in? %>
<div ng-controller="RequestsCtrl">
  <div class="requestpage" >
    <div class="userleftpanel col-xs-2 col-sm-3 col-sm-offset-1">
      <div class="row">
        <h2> Welcome <%= current_user.username %> </h2>
      </div>
      <div class="row">
        <%= image_tag current_user.avatar %>
      </div>
      <div class="row">
        <a onclick="switchSettings()"> Menu </a>
        <div id="settings" style="visibility:hidden;">
                 <%= link_to "Manage Users", users_path, class: " " %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='dashboard_panel' class="requests col-md-5"  >
  <a class="col-lg-offset-1" ui-sref="dashboard.requests">Requests</a>
  <a class="col-lg-offset-1" ui-sref="dashboard.sliderimages">+ Add Slider Images</a><br>
  <a class="col-lg-offset-1" ui-sref="dashboard.questions">+ Add Questions to Request Form</a><br>
  <div class="full" ui-view="panel"></div>
</div>

<% end %>
