<% if logged_in? && current_user.id == @user.id || logged_in? && current_user.username == "administrator" %>
	<h1>Editing User</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
<% end %>
