<div ng-controller="SliderCtrl">
  <a ui-sref="dashboard.sliderimages.new"> Create Slider Image </a>
<div ui-view="sliderpanel"> </div>
<div ng-repeat="sliderimage in sliderimages" >
<img src="{{sliderimage.image.url}}">
<a ng-click="deleteSliderImage( sliderimage)" confirm="Are you sure?">Delete</a>
</div>
</div>

 