<div ng-controller="SliderCtrl">
<div class=" full" ui-view="sliderpanel"> </div>
<div ng-repeat="sliderimage in sliderimages" >
{{sliderimage.image}}
</div>
          </div>
     


<a ui-sref="dashboard.sliderimages.new"> Create Slider Image </a>
 