<div ng-controller="SliderCtrl">
<div ui-view="sliderpanel"> </div>
<div id="nav_menu">
	  <a ui-sref="dashboard.sliderimages.new"> Create Slider Image </a>
	
	<div ng-repeat="sliderimage in sliderimages" >
	<img ng-src="{{sliderimage.image.url}}">
	<a ng-click="deleteSliderImage( sliderimage)" confirm="Are you sure?">Delete</a>
	</div>
</div>
</div>

