<form class="form-group" ng-submit="createSliderImage()">
<input type="file" class="form-control" placeholder="Enter a Question" ng-model="image"></input>
<input type="submit"  id="submit" value="Submit">
</form>