/*

 *= require_tree .

 *= require_self
 */


.section1 {
	margin-top: 20px;
	text-align: center;
}
.icon {
	height: 10%;
	width: 10%;
}
.icon2 {
	height: 6%;
	width: 6%;
}

.leftsection {
	padding-left: 50px;
	margin-top: 5px;
}

.services h4 {
	font-size: 20px;
	font-style: bold;
	font-weight: 2px;
}

.services li {
	list-style: none;
}
.mainsection {
	text-align: center;
	margin-top: 10px;
}
.contact {

}
.mimages {
	height: 100%;
	width: 100%;
}
#selectedImage {
	width: 100%;
	height: 100%;
}
.thumbs {
		min-height: 10vh;
	max-height: 10vh;
	max-width: 100%;
}

.thumbcolumn {

	max-height: 70vh;
	overflow-y: scroll;
}

.inner {
	height: 100%;
}

.inner li {
	list-style: none;
}

.small {
	height: 50%;
	width: 50%;
}
.limg {

	width: 80%;
	height: 80%;
}

.himg {
	width: 40%;
	height: 40%;
}

.rightbuttons {
	height: 55%;
	width: 55%;
}

.closebutton {
	height: 50px;
	width: 75px;
	float: right;
}

.submitbutton {
	margin-top: 90px;
	height: 50px;
	width: 95px;
}

.right1 {
	margin-top: 60px;
}

.right2 {
	margin-top: 40px;
}

.right3 {
	margin-top: 40px;
	text-align: center;
}

.right3 p {
	font-style: bold;
}

.right3 li {
	padding-top: 10px;
	padding-right: 10px;
	display: inline;
}

.lefthq {
	height: 100%;
}

.pstable {
	text-align: center;
}

.pstable th {
	text-align: center;
	font-style: bold;
}

.qsect1 {
	text-align: center;
}

.qsect1 h3 {
	font-style: bold;
	font-size: 35px;
}
.qsect2 {
	text-align: center;
}

.qsect2 p {
	color: black;
	font-size: 30px;
}

.qsect3 {
	height: 100%;

}

.qsect3 {
	color: black;
	font-size: 20px;
}

.qsect4 {
	margin-top: 40px;
}
.modal1{
		width: 95%;
	}

.modal2 {
	width: 95%;
}

.forminput {
	
	width: 60%;
}

.forminputsm {
	
	width: 20%;
}

.psleft {
	text-align: center;
}
.psimage {
	height: 250px;
	width: 250px;
	padding-bottom: 20px;
}

.quotespage {
	height: 70vh;
}

.quoteicons {
	
}
.openquotes {
	background-color: green;
	height: 100px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}

.newquotes{
	background-color: yellow;
	height: 100px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
.deletedquotes{
	background-color: red;
	height: 100px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}

.loginI {
	padding-left: 40px;
}

.loginIcon {
	padding-left: 5px;

}

.loginImage {
	height: 20px;
	width: 20px;
}

.request {

	margin-bottom: 20px;
	height: 40px;
	font-size: 16px;
	background-color: white;
	border: 1px;

}

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}


@media only screen and (max-width: 400px) {

	.himg {
		width: 100% ;
		height: 100% ;
	}
}

