<br>
<br>
<div ng-controller="PriceSheetCtrl">
<a ng-click=" goBack()">Close</a>
<form class="form-group" ng-submit=" goBack()" >
<br>
<input type="file" ngf-select ng-model="image" >
<br>
<input type="submit" id="submit" ng-click="createPriceSheetImage(image);"  >
</form>
</div>